<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
            box-sizing: border-box !important;
            background-color: #e3e3e3 !important;
            font-family: 'Inter', sans-serif !important;
        }

        .mainBoxCss {
            display: flex  !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            width: 70% !important;
            margin: auto !important;
            height: 50vh !important;
        }

        .headingWelcome {
            text-align: center !important
        }

        .btnConfirm {
            padding: 10px 20px !important;
            background-color: orange !important;
            border: none !important;
            color: white !important;
        }

        .mainBtnBox {
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
        }

        .mainSubDiv {
            position: absolute !important;
            top: 130px !important;
            background-color: white !important;
            height: 500px !important;
            width: 30% !important;
            padding: 20px 40px !important
        }
        .boldFont{
            font-weight: bold !important;
        }
    </style>

</head>

<body>
    <div class="mainBoxCss">
        <div class="mainSubDiv">
            <h1 class="headingWelcome"> Welcome </h1>
            <p> Were excited To have you get started. First,You need to confirm your Account. </p>
            <div class="mainBtnBox">
                <button class="btnConfirm"><a href="http://192.168.29.6:3000/login">Login Here</a></button>
            </div>
            <div>
                <p> <span class="boldFont">Id:</span>  {{email}} </p>
                <p> <span class="boldFont">Password:</span>  {{password}} </p>
            </div>
        </div>
    </div>
</body>

</html>